/* body {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; 
    line-height: 1.4;
    background: #fefefe;
    color: #333;
    margin: 0 1em;
  } */

#content p {
  text-align: justify;
}

#header-description {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

a:not(.btn) {
  color: #198754;
}