#content p {
  text-align: justify;
}

#header-description {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

a:not(.btn) {
  color: #198754;
}

img.headshot.jeff {
  width: 100px;
  height: 170px;
}

img.headshot {
  width: 150px;
  max-width: 100%;
}

.btn-twitter {
  background-color: #00acee;
  color: white !important;
}

.btn-twitter:hover {
  background-color: #008abe;
}

#mpi-logo,
#license-img {
  height: 3em;
}

.footer {
  font-size: 0.75rem;
}

.bd-callout {
  --bs-link-color-rgb: var(--bd-callout-link);
  --bs-code-color: var(--bd-callout-code-color);
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

.bd-callout-info {
  --bd-callout-color: var(--bs-info-text-emphasis);
  --bd-callout-bg: var(--bs-info-bg-subtle);
  --bd-callout-border: var(--bs-info-border-subtle);
}

.bd-callout-warning {
  --bd-callout-color: var(--bs-warning-text-emphasis);
  --bd-callout-bg: var(--bs-warning-bg-subtle);
  --bd-callout-border: var(--bs-warning-border-subtle);
}

.bd-callout-danger {
  --bd-callout-color: var(--bs-danger-text-emphasis);
  --bd-callout-bg: var(--bs-danger-bg-subtle);
  --bd-callout-border: var(--bs-danger-border-subtle);
}

.bd-callout+.bd-callout {
  margin-top: -.25rem;
}

.section-title {
  text-transform: uppercase;
}